<header>
  <div class="header-top">
    <div class="logo">
      <a href="/">Auto<span>Dealer</span></a>
    </div>
    <div class="header_contacts">
      <div class="phone">+1 (800) 455-55-95</div>
      <div>WinterJuice, LLC, 1875 South Grant Street, Suite 680, San Mateo, CA 94402</div>
    </div>
  </div>
  <div class="header-bottom">
    <nav>
      <div class="left-content">
        <a href="#home">Home</a>
        <a href="#contact">Contacts</a>
        <a href="#about">About us</a>
      </div>

      <div class="right-content">
        <a href="#new-page">Authorization</a>
<!--        <a href="#new-page"></a>-->
      </div>
    </nav>
  </div>
</header>
